<html>
<head></head>
<body>
    <p>Hello, ${name},</p>
    <p>Thank you for your interest in meeting a local.</b></p>
    <p>Here is the list of locals who would be glad to meet you.</p>
    <p>Please select the most favourite volunteer and press confirmation button within 24 hours.</p>
    <p>Unless you choose a volunteer within 24 hours, your registration will be cancelled.</p><br>
    #foreach( $volunteer in $volunteers )
        <p>Name: ${volunteer.name}</p>
        <p>Gender:
        #if( $volunteer.gender == 'FEMALE' )
          female
        #else
          man
        #end
        </p>
        <p>Age: ${volunteer.age}</p>
        <p>Short description: ${volunteer.description}</p>
        <table width="100%" cellspacing="0" cellpadding="0" style="display: inline;">
          <tr>
              <td>
                  <table cellspacing="0" cellpadding="0">
                      <tr>
                          <td style="border-radius: 2px;" bgcolor="#ED2939">
                              <a target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                                  Agree
                              </a>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        </table>
        <br>
    #end
    <br>
    <p>If you have any further questions, please contact Tourist Information Centre (Pilies St. 2):</p>
    <p>+370 5 262 9660</p>
    <p>tic@vilnius.lt</p><br>
    <p>Susisieksime netrukus!</p>
</body>
</html>