<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet a local - administrator page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .td-text {
            max-width: 80px;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
        }
        .td-buttons {
            min-width: 80px
        }
    </style>
</head>
<body>
<th:block th:include="fragments/header :: body"></th:block>
<div class="container" style="padding-top: 100px; width: 1420px">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th class="td-text">First Name</th>
                        <th class="td-text">Last Name</th>
                        <th class="td-text">Phone Number</th>
                        <th class="td-text">Email</th>
                        <th class="td-text">Date</th>
                        <th class="td-text">Time</th>
                        <th class="td-text">Age</th>
                        <th class="td-text">Purpose</th>
                        <th class="td-text">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:if="!${#lists.isEmpty(meets)}">
                        <tr th:each = "meet : ${meets}">
                            <td class="td-text" th:text = "${meet.id}"></td>
                            <td class="td-text" th:text = "${meet.name}"></td>
                            <td class="td-text" th:text = "${meet.surname}"></td>
                            <td class="td-text" th:text = "${meet.skypeName}"></td>
                            <td class="td-text" th:text = "${meet.email}"></td>
                            <td class="td-text" th:text = "${meet.date}"></td>
                            <td class="td-text" th:text = "${meet.time}"></td>
                            <td class="td-text" th:text = "${meet.age}"></td>
                            <td class="td-text" th:text = "${meet.purpose.name}"></td>
                            <td class="td-text" th:text = "${meet.status}"></td>
                            <td class="td-buttons">
                                <div class="btn-group" role="group" aria-label="...">
                                    <form th:action="@{'/meet-management/view'}" method="GET" style='display:inline;'>
                                        <input type="hidden" name="id" th:value="${meet.id}">
                                        <button type="submit" name="view" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </div>
                    <div th:if="${#lists.isEmpty(meets)}">
                        <tr>
                            <td>No meet exists!</td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/js :: body"></th:block>
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>