<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/meet-management}">Admin</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li th:class="${activePage} == 'volunteers'? 'active' : ''"><a href="#" th:href="@{/volunteer-management}">Volunteers</a></li>
        <li th:class="${activePage} == 'meets'? 'active' : ''"><a href="#" th:href="@{/meet-management}">Meets</a></li>
<!--        <li th:class="${activePage} == 'logout'? 'active' : ''"><a href="#" th:href="@{/auth/logout}">Log out</a></li>-->
        <li style="float:right; ">
          <form th:action="@{/appLogout}" method="POST">
            <input style="margin: 10px;" class="btn btn-default" type="submit" value="Logout"/>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>